<!DOCTYPE html>
<html>
<head>
  <title>Support Assistant</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="static/script.js"></script>
</head>
<body>
<h1>Humanitarian Assistance</h1>
<div class="container">
  <h2>Ask about  various aspects of COVID-19 and public health</h2>
<input type="text" id="question" placeholder="Enter your question" required>
<button type="button" onclick="submitQuestion()">Ask</button>
<div id="answer-placeholder">
  <h3>Answer:</h3>
  <p id="answer-content"></p>
</div>
  </div>
</body>
</html>
